@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: white;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

/* Links */
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* a:visited {
    color: gray;
} */

/* Project Info*/
.info img {
    width: 100px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.info h1 {
    margin: 0px;
    margin-bottom: 20px;
}

.info p {
    color: #86898f;
    margin: 0;
    margin-bottom: 20px;
    /* font-style: italic; */
    /* font-weight: bold; */
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 15px; */
    /* word-spacing: normal; */
}

.container {
    max-width: 750px;
    margin: auto;
}

.features div {
    padding: 15px 20px;
    background: red;
    margin-bottom: 20px;
    border-radius: 20px;
}
.features h4 {
    margin: 0;
    padding: 0;
}

/* How to center a div */
/* .box-model > div {
    box-sizing: border-box;
} */